<div ng-controller="UserController">

	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Users
		</h1>
		<ol class="breadcrumb">
			<li></i>Home</li>
			<li class="active">Users</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">

		<!-- Your Page Content Here -->

		<div class="box box-success">

			<!-- Tabs -->

			<ul class="nav nav-tabs">
				<li role="presentation" class="active"><a href="#/users/create" ng-click="resetForm()">Create User</a></li>
				<li role="presentation"><a href="#/users/list" ng-click="resetForm()">User List</a></li>
				<li role="presentation" class="disabled"><a href="javascript:void(0)" class="disabled">&nbsp;</a></li>
			</ul>

			<!-- form start -->
			<form class="form-horizontal" name="form" ng-submit="createRecord()" novalidate>
				<div class="box-body">

					<!-- Name -->
					<div class="form-group" ng-class="{ 'has-error' : form.name.$touched && form.name.$invalid }">
						<label for="inputName" class="col-sm-2 control-label">Name</label>
						<div class="col-sm-9">
							<input type="text" name="name" class="form-control" ng-model="name" id="inputName" autocomplete="off" required>

							<div class="help-block" ng-messages="form.name.$error" ng-if="form.name.$touched && form.name.$invalid">
								<div ng-messages-include="/resources/js/views/templates/form-error-messages.html"></div>
							</div>

						</div>
					</div>

					<!-- Address -->
					<div class="form-group" ng-class="{ 'has-error' : form.address.$touched && form.address.$invalid }">
						<label for="inputAddress" class="col-sm-2 control-label">Address</label>
						<div class="col-sm-9">
							<input type="text" name="address" class="form-control" ng-model="address" id="inputAddress" autocomplete="off" required>

							<div class="help-block" ng-messages="form.address.$error" ng-if="form.address.$touched && form.address.$invalid">
								<div ng-messages-include="/resources/js/views/templates/form-error-messages.html"></div>
							</div>

						</div>
					</div>

					<!-- Description -->
					<div class="form-group" ng-class="{ 'has-error' : form.description.$touched && form.description.$invalid }">
						<label for="inputDescription" class="col-sm-2 control-label">Description</label>
						<div class="col-sm-9">
							<input type="text" name="description" class="form-control" ng-model="description" id="inputDescription" autocomplete="off" required>

							<div class="help-block" ng-messages="form.title.$error" ng-if="form.description.$touched && form.title.$invalid">
								<div ng-messages-include="/resources/js/views/templates/form-error-messages.html"></div>
							</div>

						</div>
					</div>

					<!-- Store -->

					<div class="form-group" ng-class="{ 'has-error' : form.store.$touched && form.store.$invalid }">

						<label for="inputStore" class="col-sm-2 control-label">Store Mapping</label>

						<div class="col-sm-8">
							<label class="control-label">{{storeSearchList}}</label>
							<input type="hidden" name="store" class="form-control" ng-model="store" id="inputStore" autocomplete="off" required disabled>

							<div class="help-block" ng-messages="form.title.$error" ng-if="form.store.$touched && form.store.$invalid">
								<div ng-messages-include="/resources/js/views/templates/form-error-messages.html"></div>
							</div>

						</div>

						<button type="button" class="btn btn-success" ng-click="searchStore()">Search</button>

					</div>

					<!-- Image Upload -->

					<div class="form-group" ng-class="{ 'has-error' : form.formImage.$invalid }">
						<label class="col-sm-2 control-label">Image Upload</label>
						<div class="col-sm-9">
							<input type="file" ngf-select ng-model="formImage" name="file" accept="image/*" ngf-max-size="2MB" required>
							<br />
							<img ng-show="form.file.$valid" ngf-thumbnail="formImage" class="thumb">
							<button type="button" ng-click="uploadImage(formImage)" ng-show="formImage" class="btn btn-success">Upload</button>
							<button type="button" ng-click="formImage = null" ng-show="formImage" class="btn btn-danger">Remove</button>
							<span ng-show="formImage.result" class="uploadResult">Image Uploaded!</span>
						</div>
					</div>

					<!-- Uploaded images -->

					<div class="form-group">
						<label class="col-sm-2 control-label">Uploaded Images:</label>

						<div class="col-sm-9">
							<table class="table table-striped">

								<tr ng-repeat="image in imageList track by $index">
									<td>{{image}}</td>
								</tr>

							</table>
						</div>
					</div>
				</div>

				<div class="box-footer">
					<button type="submit" class="btn btn-success pull-right" ng-disabled="form.$invalid">Save</button>
					<button type="button" class="btn btn-default" ng-click="resetForm()">Cancel</button>
				</div><!-- /.box-footer -->
			</form>

			<!-- form end -->

		</div>

		<div class="flashMessage" flash-message="3000"></div>

	</section><!-- /.content -->



</div>



