<div ng-controller="SidebarController">

    <aside class="main-sidebar">

    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="./img/open_source.png" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Navigation Menu</p>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <!-- Optionally, you can add icons to the links -->
            <li ng-class="{ active: isActive('/users') }"><a href="#/users/create"><i class="fa fa-circle-o"></i> <span>CRUD Forms</span></a></li>
            <li ng-class="{ active: isActive('/maps') }"><a href="#/maps/map"><i class="fa fa-circle-o"></i> <span>Google Map</span></a></li>

        </ul><!-- /.sidebar-menu -->
    </section>

    </aside>
</div>
